h4 {
  color:#ff0000;
}
i{
color:#ff69b4;
}
em{
color:#f0f8ff;
}
strong{
  color:#1735f5;
}
body{
background-image:url(https://image.freepik.com/free-vector/light-colors-watercolor-background_1340-190.jpg);
  background-size:cover;
  
}
